{% extends "base.html" %}
{% load socialaccount %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/accounts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}">
{% endblock %}

{% block contents %}
<div class="row">
  <div class="col-md-6 md-offset-3 mx-auto">
      <h3>ログイン</h3>
      <!-- django form -->
      <form role="form" class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        {% for field in form %}

        {% if field.label == "ログインしたままにする" %}
        <div class="form-group field">
          <label for="{{ field.id_for_label }}">{{field.label}}　{{ field }}</label>
        </div>

        {% else %}
          <div class="form-group field">
          {{ field }}
        </div>
        {% endif %}
          {% endfor %}
          {% for error in form.non_field_errors %}
          <div class="alert-message">
            <p>{{ error }}</p>
          </div>
        {% endfor %}
        <p class="login-p">会員登録は <a href="{{ signup_url }}">こちらから</a></p>
        <button type="submit" class="btn-block btn btn-lg btn-primary">ログイン</button>
      </form>
  </div>
</div>
{% endblock %}
