/* ログイン画面、アカウント作成画面、ログアウト画面の共通CSS */


/* navbarにコンテンツが被らないようにpaddingを入れる */
body {
	background: #fff;
    padding: 120px;
	font-family: 'Roboto';
}


/* inputタグにそれぞれmargin指定 */
.input-group {
    margin: 10px 0px;
}

/* submitボタンへの指定 */
.btn-primary,
.btn-primary:hover {
	border-radius: 10px 10px 10px 10px;
	background-color: #5f9ea0;
	border-color: #5f9ea0;
	margin: 10px 0px;
}


h3 {
    text-align: center;
}

p {
	color: #aebbcb;
}

a {
	color: #23a9f6;
}

label {
	text-transform: uppercase;
	color: #bdc7d4;
}


.form-control {
    background: none;
    height: 40px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: #8b9eb6;
    padding: 0px;
}

.form-control:focus {
    box-shadow: none;
}

div.field {
    margin-top: 30px;
}

/* divタグのフィールドクラス直下のspanタグhelptextクラスへの指定 */
div.field > span.helptext {
    font-size: 14px;
    color: #999;
}

div.field > label {
    display: block;
}

/* フォームに関するCSSの指定 */
div.field > input, div.field > textarea, div.field > select, div.field > button {
    width: 100%;
    padding: 10px 12px;
    /* ボックスサイズを決めるときにwidthとheightの幅を適用するように指定 */
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    border: solid 1px #999;
}

div.field > input:focus, div.field > textarea:focus, div.field > select:focus {
    /* Bootstrapのアウトライン定義無効化 */
    outline: none;
    /* 以下再定義 */
    width: 100%;
    padding: 10px 12px;
    /* ボックスサイズを決めるときにwidthとheightの幅を適用するように指定 */
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    border: solid 2px rgb(241, 161, 31);
    background-color: #ffffff;

}

/* アラート */
.alert-message {
	background-color: red;
	color:rgb(255, 255, 255);
}


.info-message {
	background-color: rgb(108, 116, 236);
	color:white;
}